<h1 class="page-title">Overview</h1> 

<div class="row grid-margin">
    <div class="col-12 col-lg-4 grid-margin">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Guests</h5>
              <p class="card-text">Total {{totalGuests}} guests registered</p>
            </div>
          </div>
    </div>

    <div class="col-12 col-lg-4 grid-margin">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Bookings</h5>
              <p class="card-text">Total {{totalBookings}} Bookings</p>
            </div>
          </div>
    </div>

    <div class="col-12 col-lg-4 grid-margin">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Rooms</h5>
              <p class="card-text">Total {{totalRooms}} Rooms</p>
            </div>
          </div>
    </div>

    <div class="col-12 col-lg-4 grid-margin" *ngIf="userType == 'admin'">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Users</h5>
              <p class="card-text">Total {{totalUsers}} users registered</p>
            </div>
          </div>
    </div>

</div>