<h1 class="page-title">Permission List</h1>
<hr>

<div class="row grid-margin">
    <div class="col">
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" class="form-control" placeholder="search" #input>
        </mat-form-field>
    </div>
    <div class="col">
        <div class="btn-group float-right">
            <a class="btn btn-success" [routerLink]="['create']">
                <i class="fa fa-plus-circle"></i> New Permission
            </a>
        </div>
    </div>
</div>


<div class="mat-elevation-z8">
    <mat-table #table mat-table [dataSource]="dataSource" class="table-responsive mat-elevation-z8" matSort>
        <ng-container matColumnDef="detail">
            <mat-header-cell *matHeaderCellDef mat-sort-header="detail">Details
            </mat-header-cell>
            <mat-cell *matCellDef="let data">
              <a [routerLink]="['view', data.uid]" title="View Guest Details" class="btn">
                  <i class="fa fa-file-text-o "></i>
              </a>
            </mat-cell>
          </ng-container>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header="name">Permission Name
          </mat-header-cell>
          <mat-cell *matCellDef="let data">

            <span class="table__text">
              {{data?.pname}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="module">
          <mat-header-cell *matHeaderCellDef mat-sort-header="module">Module
          </mat-header-cell>
          <mat-cell *matCellDef="let data">

            <span class="table__text">
              {{data?.module}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="create">
          <mat-header-cell *matHeaderCellDef mat-sort-header="create">Create
          </mat-header-cell>
          <mat-cell *matCellDef="let data">

            <span class="table__text">
              {{data?.create}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="read">
          <mat-header-cell *matHeaderCellDef mat-sort-header="read">Read
          </mat-header-cell>
          <mat-cell *matCellDef="let data">
            <span class="table__text">
              {{(data?.read)}}
            </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="update">
            <mat-header-cell *matHeaderCellDef mat-sort-header="update">Update
            </mat-header-cell>
            <mat-cell *matCellDef="let data">
              <span class="table__text">
                {{(data?.update)}}
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header="delete">Delete
            </mat-header-cell>
            <mat-cell *matCellDef="let data">
              <span class="table__text">
                {{(data?.delete)}}
              </span>
            </mat-cell>
          </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header="action">#
          </mat-header-cell>
          <mat-cell *matCellDef="let data">
            <a [routerLink]="['view', data.uid]" title="View Guest Details" class="btn">
                <i class="fa fa-file-text-o "></i>
            </a> &nbsp; &nbsp;
            <a [routerLink]="['edit', data.uid]" title="Edit User">
                <i class="fa fa-pencil"></i>
            </a> &nbsp; &nbsp;
            <span (click)="deleteUser(data.uid)" style="cursor:pointer;">
                <i class="fa fa-trash"></i>
           </span>
          </mat-cell>
        </ng-container>


        <mat-header-row style="background-color:#f3f3f3 ;" *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
      </mat-table>
      <div *ngIf="isNoData" class="isNoData">No Enteries Found!</div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
